@model RoleViewModel
@{


}

<br />

<div class="mb-5 pb-5">
    <ul class="nav nav-tabs" id="departmentTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="general-tab" data-bs-toggle="tab" href="#general" role="tab" aria-controls="general" style="color: black;">General</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="administration-tab" data-bs-toggle="tab" href="#administration" role="tab" aria-controls="administration" style="color: black;">Administration</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <!-- General Tab -->
        <div class="tab-pane fade show active p-4 border" id="general" role="tabpanel" aria-labelledby="general-tab">
            <div class="row">
                <div class="form-group col-6">
                    <label for="FName" class="form-label" asp-for="Name">Role Name</label>
                    <input asp-for="Name" type="text" class="form-control" id="Name" name="Name" readonly />

                </div>




                <div class="form-group col-6">
                    <label class="form-label" asp-for="Id">Id</label>
                    <input asp-for="Id" class="form-control" readonly />

                </div>
                @* //-----------// *@

                
    </div>

    <!-- Buttons Section -->
    @if (ViewData["Title"] as string == "Details")
    {
        <div class="d-flex justify-content-center gap-3 mt-3">
                    <a asp-controller="Role" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success" style="background-color: #6a0dad; border-color: #6a0dad;">Edit</a>

                    <a asp-controller="Role" asp-action="Index" class="btn btn-outline-secondary px-4">Cancel</a>
        </div>

    }
    else
    {
        <div class="mt-4">
                    <form method="post" asp-controller="Role" asp-action="Delete" asp-route-id="@Model.Id">
                <input type="submit" class="btn btn-danger" value="Delete" />
                        <a asp-controller="Role" asp-action="Index" class="btn btn-outline-dark">Back To List</a>
            </form>
        </div>
    }
</div>