
@{

    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";




}

            <div class="text-center">
                <h1 class="display-4">Welcome</h1>
                <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
            </div>
            

    <script>
        $(document).ready(function () {
            $('form input, form select, form textarea').on('blur', function () {
                $(this).valid();

            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var toastEl = document.querySelector(".toast");
            var toast = new bootstrap.Toast(toastEl, { delay: 5000 }); // Auto-hide after 5 seconds
            toast.show();
        });
    </script>


