@model DepartmentViewModel
@{
    ViewData["Title"] = "Create";
    ViewBag.Action = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
@* <div class="row justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4">Create Department</h1>
    <form method="post">

    </form>
</div> *@
<div class="container mt-4">
    <h1 class="my-4 w-50 mx-auto text-center fw-bold border-bottom pb-3">Create New Department</h1>
    <partial name="Partials/CreateEditDepartmentPartial" />

</div>


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
        $('form input, form select, form textarea').on('blur', function () {
            $(this).valid();

        });
    });
</script>