@model DepartmentDetailsToReturnDto
@{
    ViewData["Title"] = "Details";
}

<h1 class="my-4 w-50 mx-auto text-center fw-bold border-bottom pb-3">Department Details</h1>
<partial name="Partials/DeleteDetailsDepartmentPartial" />



