@model DepartmentViewModel
 
@{
    ViewData["Title"] = "Edit";
    ViewBag.Action = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class= "row justify-content-center align-content-center mt-3">
    <h1 class="my-4 w-50 mx-auto text-center fw-bold border-bottom pb-3">Edit Department</h1>
    <partial name="Partials/CreateEditDepartmentPartial" />

</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
        $('form input, form select, form textarea').on('blur', function () {
            $(this).valid();

        });
    });
</script>