@model EmployeeDetailsDto
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="my-4 w-50 mx-auto text-center fw-bold border-bottom pb-3">Employee Details</h1>
<partial name="Partials/DeleteDetailsEmployeePartial" />


@* <div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-dark">Back To List</a>
</div>
 *@

