@model EmployeeViewModel

@{
    ViewData["Title"] = "Edit";
    ViewBag.Action = "Edit";
}

<div class="row justify-content-center align-content-center mt-3">
    <h1 class="  mx-auto text-center fw-bold border-bottom pb-3">Edit Employee</h1>

    <partial name="Partials/CreateEditEmployeePartial" />

</div>

@section ValidationScripts {
    <partial name="_ValidationScriptsPartial" />
}
