@model ForgetPasswordViewModel
@{
    Layout = "_AuthLayout";

}



<body>
    <!-- Split Layout Form -->
    <div class="split-form">
        <div class="image-side">
            <h2>Please insert your email</h2>
            <p>Soon we will send you an email with the instruction to follow in order to reset your password/p>
        </div>
        <div class="form-side">
            <h2>ForgetPassword</h2>
            <form asp-action="SendResetPasswordUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="email" asp-for="Email" placeholder="Enter Yuor Email" required>
                <span asp-validation-for="Email" class="text-danger"></span>
                <button type="submit">Send</button>


            </form>
        </div>
    </div>


</body>



@section ValidationScripts {
    <partial name="_ValidationScriptsPartial" />
}