@model ResetPasswordViewModel
@{
    Layout = "_AuthLayout";

}



<body>
    <!-- Split Layout Form -->
    <div class="split-form">
        <div class="image-side">
            <h2>Welcome Back!</h2>
            <p>Enter your details to access your account</p>
        </div>
        <div class="form-side">
            <h2>Login</h2>
            <form asp-action="ResetPassword">
                <div asp-validation-summary="All" class="text-danger"></div>

                <input type="password" asp-for="Password" placeholder="Enter New Password" required>
                <span asp-validation-for="Password" class="text-danger"></span>
                <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <button type="submit">reset</button>


            </form>
        </div>
    </div>


</body>



@section ValidationScripts {
    <partial name="_ValidationScriptsPartial" />
}